table.transactionHistory {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    border: 4px solid grey;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
}

table.transactionHistory td, th {
    padding: 5px;
    border: 2px solid grey;
}

table.transactionHistory thead {
    background-color: #58bbb9;
    color: #fff;
}

table.transactionHistory tr:nth-of-type(even){
    background-color:  #F3F3F3;
}
